Checks: '*, -modernize-use-nodiscard, -*use-trailing-return-type, -*private-member-variables-in-classes, -hicpp-braces-around-statements, -*readability-braces-around-statements, -google-explicit-constructor, -fuchsia-*, -hicpp-explicit-conversions, -google-default-arguments, -google-build-using-namespace, -hicpp-noexcept-move, -performance-noexcept-move-constructor, -hicpp-signed-bitwise, -cppcoreguidelines-avoid-c-arrays, -modernize-use-nullptr, -*-magic-numbers, -cert-err58-cpp, -google-global-names-in-headers'
CheckOptions:
  - { key: hicpp-special-member-functions.AllowSoleDefaultDtor, value: 1 }
  - { key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor, value: 1 }