# Compiled Object files
*.o
*.obj

# Executables
*.bin
*.elf

# PROS
bin/
.vscode/
.ccls-cache/
compile_commands.json
temp.log
temp.errors
*.ini
.d/

# Test
test/bin/
test/temp.log
test/temp.errors

*.sublime-workspace